<ion-header>
  <ion-toolbar>
    <ion-title>registrar</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-card>
    <ion-card-header>Informacion usuario</ion-card-header>
    <ion-card-content>
      <form [formGroup] = "persona" (ngSubmit)="registrar()">
        <ion-input formControlName="nombre" type="text" label="NOMBRE" labelPlacement="floating"></ion-input>
        <br>
        <ion-input formControlName="apellido" type="text" label="APELLIDO" labelPlacement="floating"></ion-input>
        <br>
        <ion-input formControlName="rut" type="text" label="RUT" labelPlacement="floating"></ion-input>
        <br>
        <ion-input formControlName="correo" type="text" label="CORREO" labelPlacement="floating"></ion-input>
        <br>
        <ion-input formControlName="fecha" type="date">FECHA DE NACIMIENTO</ion-input>
        <br>
        <ion-input formControlName="password" type="password" label="CONTRASEÑA" labelPlacement="floating"></ion-input>
        <br>
        <ion-input formControlName="confi_password" type="password" label="CONFIRMAR CONTRASEÑA" labelPlacement="floating"></ion-input>
        <br>
        <ion-select label="GENERO" formControlName="genero">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="N/A">Prefiero no decirlo</ion-select-option>
        </ion-select>

        <ion-select formControlName="veiculo" label="¿TIENE AUTITO?" (ionChange)="onOpcionChange($event.detail.value)">
          <ion-select-option value="SI">Si tengo 😁</ion-select-option>
          <ion-select-option value="NO">No tengo 😢</ion-select-option>
        </ion-select>

        <div *ngIf="mostrarInput">
          <ion-input formControlName="marca" type="text" label="MARCA" labelPlacement="floating"></ion-input>
          <ion-input formControlName="modelo" type="text" label="MODELO" labelPlacement="floating"></ion-input>
          <ion-input formControlName="patente" type="text" label="PATENTE" labelPlacement="floating"></ion-input>
          <ion-input formControlName="canti_acientos" type="number" label="CANTIDAD ACIENTOS" labelPlacement="floating"></ion-input>
        </div>

        <ion-button [disabled]="persona.invalid" (click)="enviarCorreo()" class="enviar-correo" type="submit" size="block" color="warning">
          <ion-icon [ngClass]="{'animar': animarIcono}" slot="start" name="mail"></ion-icon>
          REGISTRAR
        </ion-button>

        <p>Ya tienes cuenta?<a routerLink="/inicio-sesion">Iniciar sesion</a></p>
      </form>
    </ion-card-content>
  </ion-card>
</ion-grid>
</ion-content>
