<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>Informacion usuario</ion-card-header>
          <ion-card-content>
            <form [formGroup]="Usuario" (ngSubmit)="registrar()">
              <ion-input formControlName="nombre" type="text" label="NOMBRE"></ion-input>
              <br>
              <ion-input formControlName="apellido" type="text" label="apellido"></ion-input>
              <br>
              <ion-input formControlName="rut" type="text" label="RUT"></ion-input>
              <br>
              <ion-input formControlName="correo" type="text" label="CORREO"></ion-input>
              <br>
              <ion-input formControlName="fecha_naci" type="date">FECHA DE NACIMIENTO</ion-input>
              <br>
              <ion-select formControlName="genero" label="GENERO">
                <ion-select-option value="Masculino">Masculino</ion-select-option>
                <ion-select-option value="Femenino">Femenino</ion-select-option>
                <ion-select-option value="N/A">Prefiero no decirlo</ion-select-option>
              </ion-select>

              <ion-select formControlName="veiculo" label="¿TIENE AUTITO?">
                <ion-select-option value="SI">Si tengo 😁</ion-select-option>
                <ion-select-option value="NO">No tengo 😢</ion-select-option>
              </ion-select>

              <div>
                <ion-input formControlName="marca" type="text" label="MARCA"></ion-input>
                <ion-input formControlName="modelo" type="text" label="MODELO"></ion-input>
                <ion-input formControlName="patente" type="text" label="PATENTE"></ion-input>
                <ion-input formControlName="canti_acientos" type="number" label="CANTIDAD ACIENTOS"></ion-input>
              </div>

              <ion-radio-group formControlName="tipo_user">
                <ion-item>
                  <ion-radio value="Administrador"></ion-radio>
                  <ion-label>Administrador</ion-label>
                </ion-item><ion-item>
                  <ion-radio value="Conductor"></ion-radio>
                  <ion-label>Conductor</ion-label>
                </ion-item>
                <ion-item>
                  <ion-radio value="Teacher"></ion-radio>
                  <ion-label>Profesor</ion-label>
                </ion-item>
                <ion-item>
                  <ion-radio value="Alumno"></ion-radio>
                  <ion-label>Alumno</ion-label>
                </ion-item>
              </ion-radio-group>
              <ion-button (click)="registrar()" >REGISTRAR</ion-button>
              <ion-button -* >MODIFICAR</ion-button>
              <ion-button>LIMPIAR</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>LISTA DE USUARIOS</ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item-sliding *ngFor="let usuario of Usuarios">
                <ion-item>
                  Rut: {{ usuario.rut }} | Nombre: {{ usuario.nombre }} {{usuario.apellido }} | Auto: {{ usuario.veiculo }}
                </ion-item>
                <ion-item-options>
                  <ion-item-option (click)="buscar(usuario)">
                    <ion-icon name="search"></ion-icon>
                    BUSCAR
                  </ion-item-option>
                  <ion-item-option (click)="eliminar(usuario.rut)">
                    <ion-icon></ion-icon>
                    ELIMINAR
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
