<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Artemis
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="viajes">
        <ion-icon name="car-sport-sharp"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="administrar" *ngIf="usuario.tipo_user == 'Administrador' ">
        <ion-icon name="id-card-sharp"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle-sharp"></ion-icon>
      </ion-tab-button>
    <ion-tab-button tab="form-viajes" *ngIf="usuario.tipo_user == 'Conductor' ">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>

</ion-content>
