
ion-grid {
  background: url('../Artemis_icon/white.png') no-repeat center center fixed;
  background-size: contain; // Ajusta el tamaño para que se contenga en la pantalla
  background-attachment: fixed;
  background-color: #ec0001;
  color: #ec0001; 
  height: max-content;
}

ion-card {
  background-color: rgba(0, 0, 0, 0.6); // Fondo semi-transparente en el card para legibilidad.
  padding: 20px;
  border-radius: 10px;
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}