
ion-grid {
  background: url('../Artemis_icon/white.png') no-repeat center center fixed;
  background-size: contain; // Ajusta el tamaño para que se contenga en la pantalla
  background-attachment: fixed;
  background-color: #ec0001;
  color: #ec0001; 
  height: fit-content;
}