<ion-content id="iniciar">
  <ion-grid>
  <ion-card>
      <ion-card-title>Login</ion-card-title>
      <ion-card-content>
        <br>
        <ion-input [(ngModel)]="correo" type="text" label="Correo" labelPlacement="floating"></ion-input>
        <br>
        <ion-input [(ngModel)]="password" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
        <br>
        <ion-button (click)="login()">Ingresar</ion-button>
      </ion-card-content>
      <p>no tienes cuenta? <a routerLink="/registrar">Registrate</a></p>
      <p>se te olvido la contraseña? <a routerLink="/recuperar">Recuperate</a></p>
    </ion-card>
  </ion-grid>

</ion-content>
