<ion-content>
  <ion-grid>
        <div *ngFor="let v of viajes">
          <ion-card  *ngIf = "v.estado == 'pendiente' ">
            <ion-card-header>
              <ion-card-title>{{v.destino}}</ion-card-title>
              <ion-card-subtitle>estado: {{v.estado}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>

              <p>Cantidad de asientos: {{v.asientos_disp}}</p>
              <ion-chip color="success">
                <ion-icon name="star"></ion-icon>
                <ion-label>4.9</ion-label>
              </ion-chip>
              <ion-button routerLink="detalle-reserva/{{v.id}}" size="block" [disabled]="v.asientos_disponibles == 0">Ver detalle</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
  </ion-grid>

</ion-content>
