<ion-content>
  <ion-grid>
        <div *ngFor="let v of viajes">
          <ion-card  *ngIf = "v.estado == 'pendiente' ">
            <ion-card-header>
              <ion-card-title>{{v.destino}}</ion-card-title>
              <ion-card-subtitle>estado: {{v.estado}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>

              <p>Cantidad de asientos: {{v.asientos}}</p>
              <ion-chip color="success">
                <ion-icon name="star"></ion-icon>
                <ion-label>4.9</ion-label>
              </ion-chip>
              <p routerLink="/home/detalle-reserva/{{v.id}}" >Ver viaje</p>
            </ion-card-content>
          </ion-card>
        </div>
  </ion-grid>

</ion-content>
